<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src='/js/app.js'></script>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  </head>

  <body>
      <div class="main-content">
        {{>header}}
        <img class='portrait' alt="my-image" src='/img/tweety.jpeg'/>
        <p>My name is Tweety</p> 
      </div>
    
      {{>footer}}
  

  </body>
</html>
